/**
 * Styles
 */

// Imports
// -------
@import "nib"

// Mixins
// ------
inline-block()
  display: inline-block
  *display: inline
  *zoom: 1

// Global styles and layout
// ------------------------
global-reset()

.clearfix {
  clearfix();
}

@font-face
    font-family: 'Toyota'
    src: url('fonts/toyotadisplay_bd-webfont_tcm721-1098034.eot')
    src: url('fonts/toyotadisplay_bd-webfont_tcm721-1098034.eot?#iefix') format('embedded-opentype'),
         url('fonts/toyotadisplay_bd-webfont_tcm721-1098037.woff') format('woff'),
         url('fonts/toyotadisplay_bd-webfont_tcm721-1098036.ttf') format('truetype'),
         url('fonts/toyotadisplay_bd-webfont_tcm721-1098035.svg#ToyotaDisplayBold') format('svg')
    font-weight: normal
    font-style: normal

html
body
  font: 14px/18px Arial, sans-serif
  color: #666

h1
h2
h3
h4
h5
h6
.style1
.style2
.style3
.style4
.style5
.style6
  font-family: 'PT Sans', sans-serif;
  font-weight: normal
  font-style: normal

h1
  font-size: 36px
  line-height: 42px
  margin-bottom: 10px

h2
  font-size: 25px
  line-height: 1.2
  margin: 20px 0
  font-weight: bold
  color: #333
h3
  font-size: 12px
  font-weight: 700

p
  margin: 1em 0

.style1
  font-size: 36px
  font-weight: 700
.style2
  font-size: 18px;
  font-weight: 700

a
.pre_link
  color: #d84403
  text-decoration: underline
  cursor: pointer
  &:hover
    text-decoration: none
.btn_ajax
  text-decoration: none
  display: inline-block
  border-bottom: 1px dashed #d84403
  margin-bottom: 5px
  &:hover
    border-bottom: 1px dashed transparent

.pull-right
  float: right
.pull-left
  float: left
b
strong
  font-weight: 700
small
  font-size: 90%
.text-center
  text-align: center !important
  td
    text-align: center

.container
  min-width: 740px
  max-width: 960px
  width: 100%

.content
  inline-block()
  vertical-align: top

.list
  margin-bottom: 15px

  &-item
    margin-left: 15px
    list-style: disc inside none
  &-checked
    margin: 0 0 30px
    li
      background: url('../i/ico_list_checked.png') no-repeat 0 3px
      padding: 4px 0 4px 30px
      margin: 0 0 5px
.privilege-dop
  margin: 0
  font-size: 24px
  padding: 20px
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  &-list
    margin: 0
    padding: 0
    background: #f8f8f8
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    border-left: 1px solid #e9e9e9
    border-right: 1px solid #e9e9e9
    border-bottom: 1px solid #e9e9e9
    li 
      padding: 10px
    li:nth-child(odd)
      background: #e9e9e9
  &-wrap
    width: 90%
    margin: 10px 0 30px


#layout
  position relative
  padding-left: 170px
#nav
  width: 150px
  margin-left: -170px
  background: #797979
  text-align: left
  padding: 0 0 30px
  position: fixed
  top: 0
  bottom: 0
  overflow: auto
  .style1
    display: inline-block
    font-size: 18px
    color: #fff
    text-transform: uppercase
    margin: 0 0 25px
.nav-inner
  border-bottom: 1px solid #a1a1a1
.nav-header
  background: #949494
  font-size: 12px
  color: #fff
  padding 30px 10px
  &--left
    float: left

// Filter
// ------
.filter
  inline-block()
  vertical-align: top
  padding: 0
  width: 100%

  &-label-wrapper
    position: relative
    margin: 4px 2px

  &-label
  .filter-label-wrapper > a
    text-decoration: underline
    display: block
    font-size: 10px
    font-weight: bold
    color: #fff
    text-decoration: none
    /*padding: 5px 9px 5px 9px*/
    padding: 7px 9px
    cursor: pointer
    &--red 
      background: #797979
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5)
      box-shadow: 0 1px 1px rgba(0,0,0,.4),inset 0 1px 0 rgba(255,255,255,.5)
      color: #fff
      &:hover
        background: #ddd !important 
        color: #000 !important 

  &-input
    opacity(0)
    position: absolute

    &:hover + label
    &:checked + label
      /*background: #979797;*/
      color: #000
      background: #ddd
.filter-label-wrapper > a:hover
  color: #666 !important
  background: #fff

// Content
// -------
.status
  // white-space: nowrap
  margin: 30px 0 40px
  overflow: hidden
  &-detail
    overflow: hidden
    margin: 0 0 0 15px
    p 
      margin: 0 0 8px;
    a
    .pre_link
      color: #d84403

.row
  vertical-align: top
  width: 33%
  inline-block()

.points
  &-item
    &-title
      font-weight: 600

    &-number
      float: right

.news
  &-item
    &-link
      color: #666
      text-decoration: none
      border-bottom: 1px dashed #666
      white-space: normal

.login-form-label
  display: block
  text-align: center

  span
    inline-block()
    width: 50px

.login-form-input
  width: 120px

.btn-wrapper
  text-align: center
  margin-top: 7px
  .pure-button-red
    margin-left: 52px
    width: 120px

.filter-label
  display: block !important
  text-align: left !important

.card_author
.card_detail
.setting_btn_block ul
  list-style: none
  margin: 5px 0 0
  padding: 0
  li
    margin: 0 0 5px 0

.card-status 
  color: #d84403
  text-transform: uppercase

.card_img 
  max-width: 180px !important
  float: left
  margin: 0 15px 0 0
menu
ol
ul
  padding: 0 0 0 10px

.setting_btn_block ul
  float: right
  margin-bottom: 10px
  li
    display: inline-block
    margin: 0 20px 0 0

.table_status_card
  td
  th
    background: #bb1126
    color: #fff
.td_classic
  background: #e31e24 url('../i/bg_card-classic.png') no-repeat 0 0 !important
  background-size: cover !important
  color: #fff !important
  text-align: center
.td_premium
  background: #d4a91b url('../i/bg_card-premium.png') no-repeat 0 0 !important
  background-size: cover !important
  color: #fff !important
  text-align: center
.td_individual
  background: #000 url('../i/bg_card-individual.png') no-repeat 0 0 !important
  background-size: cover !important
  color: #fff !important
  text-align: center
.td_red
  background: #bb1126 !important
  color: #fff !important

table
  margin: 25px 0
  .title
    font-weight: 700
    background: #949494 !important
    color: #fff
    text-align: center
  p
    margin: 5px 0
.pure-table-shadow
  -webkit-box-shadow 0 0 10px rgba(0,0,0,1)
  -moz-box-shadow 0 0 10px rgba(0,0,0,1)
  box-shadow 0 0 10px rgba(0,0,0,1)
.noBorder
  border: 0 none
  td
    border: 0 none

.pure-table td
.pure-table th
  padding: 6px 5px;

.wrap_block_spend 
  .block_spend
    margin: 5px 10px;

.block_spend
  min-height: 60px
  text-align: center
  padding: 25px 0;

.red_spend
  background: #ffe4e4
  border: 1px solid #be4b48
  background: -moz-linear-gradient(top,  #ffe4e4 0%, #ffa3a2 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe4e4), color-stop(100%,#ffa3a2))
  background: -webkit-linear-gradient(top,  #ffe4e4 0%,#ffa3a2 100%)
  background: -o-linear-gradient(top,  #ffe4e4 0%,#ffa3a2 100%)
  background: -ms-linear-gradient(top,  #ffe4e4 0%,#ffa3a2 100%)
  background: linear-gradient(to bottom,  #ffe4e4 0%,#ffa3a2 100%)

.gray_spend
  background: #ededed
  border: 1px solid #000000
  background: -moz-linear-gradient(top,  #ededed 0%, #bdbdbd 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#bdbdbd))
  background: -webkit-linear-gradient(top,  #ededed 0%,#bdbdbd 100%)
  background: -o-linear-gradient(top,  #ededed 0%,#bdbdbd 100%)
  background: -ms-linear-gradient(top,  #ededed 0%,#bdbdbd 100%)
  background: linear-gradient(to bottom,  #ededed 0%,#bdbdbd 100%)

.feedback_form
  input
  textarea
  select
    width: 200px

.partner_wrap
  margin: 0 0 2px
  &-color
    text-decoration: none
    border-radius: 5px
    color: #000
    font-size: 14px
    display: block
    padding: 8px 10px
    margin: 0 0 5px
    /*background: #797979*/
    /*border: 1px solid #797979
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5)
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5)
    box-shadow: 0 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5)*/
    &:hover
      color: #000
    a
      color: #000
      text-decoration: none
      display: block
  h2.collaps
    font-size: 18px;
    color: #d84403
    a 
      color: #d84403 !important
      border-bottom: 1px dashed #d84403
      &:hover
        border-bottom: 1px dashed transparent

.partner_list
  table
    width: 100%
    td
      width: 20%
      padding: 10px 5px
      text-align: center
      font-size: 14px
    .partner_img
      width: 40%
      vertical-align: middle
      a
        display: block
        img
          max-height: 70px;
          max-width: 150px;
.td_odd
  td
    background: #f5f5f5

.overLayer
  background-color: black
  display: none
  left: 0
  opacity: 0.65
  position: fixed
  top: 0
  width: 100%
  height: 100%
  z-index: 100
  &.active
    display: block

.partner_item
  background-color: white
  border: 2px solid #ccc
  border-radius: 5px
  cursor: default
  display: none
  left: 50%
  margin: 0 0 0 -225px
  padding: 15px
  position: fixed
  top: 20%
  width: 450px
  z-index: 101
  text-align: left
  &_card
    list-style: none
    padding: 0
    margin: 10px 0 25px
    li
      margin-bottom: 5px 
.box_close 
  cursor: pointer
  float: right
  padding: 0 0 5px 10px

.ico_dot
  background: url('../i/ico_ok.png') no-repeat 0 0
  width: 18px
  height: 18px
  display: inline-block


.privilege-inner
  width: 90%
  position relative
  .style3
    position: relative
    display: block
    text-align: center
    /*left: 0
    top: 45px*/
    width: 100%
    font-size: 30px
    line-height: 1
    color: #000 
    text-shadow: 0 1px 1px rgba(0,0,0,.6)
  p
    font-family: 'PT Sans', sans-serif
    margin: 0
    position relative
    /*bottom: 30px
    left: 0*/
    width: 100%
    text-align: center
    color: #6e6e6e

.second_page
  #layout
    padding-left: 0
  #main
    padding: 0 15px

  #nav
    width: 100%
    margin-left: 0
    padding: 0
    position: relative
    .status-detail
      margin: 0 15px
      float: right
      .card_detail
        margin: 0
        a
        .pre_link
          color: #d84403
    .nav-inner
      border-bottom: 0
    .nav-toyota
      padding: 30px 20px
      .style1
        display: block
      .header-menu
        float: right
        .filter-label-wrapper
          width: auto
          a
            display: block
            font-size: 10px
            font-weight: bold
            color: #fff
            text-decoration: none
            padding: 7px 9px
            cursor: pointer
  .filter
    padding: 5px 0
    text-align: center
    width: auto
    &-label-wrapper
      width: 23%
      margin: 4px
      display: inline-block

  .status
    margin: 10px 0 0

  .card_author
    float: left
    margin: 0 15px 0 0
.toyota_page
  .toyota-center
    text-align: center

#statusbox
  h2
    a
      color: #333
      text-decoration: none
#clck_priv
  text-decoration: none
  border-bottom: 1px dashed #d84403
  &:hover
    border-bottom: 1px dashed transparent
.link-red
  color: #d84403
  font-weight: bold

.pure-table
  border: 0 none
.pure-table tr:hover td
.partner_list tr:hover td
  background-color: #ddd
.tableNoHover
  tr:hover td
    background: none

.pure-button-red
  background-color: #d84403
  color: #fff

.pure-form input[type=text]:focus
.pure-form input[type=password]:focus
.pure-form input[type=email]:focus
.pure-form input[type=url]:focus
.pure-form input[type=date]:focus
.pure-form input[type=month]:focus
.pure-form input[type=time]:focus
.pure-form input[type=datetime]:focus
.pure-form input[type=datetime-local]:focus
.pure-form input[type=week]:focus
.pure-form input[type=number]:focus
.pure-form input[type=search]:focus
.pure-form input[type=tel]:focus
.pure-form input[type=color]:focus
.pure-form select:focus
.pure-form textarea:focus
  border-color: #d84403

.btn-lexus
  background-color: #343434
  background-image: linear-gradient(bottom, rgb(32,32,32) 5%, rgb(47,47,47) 60%, rgb(56,56,56) 90%, rgb(59,59,59) 95%)
  background-image: -o-linear-gradient(bottom, rgb(32,32,32) 5%, rgb(47,47,47) 60%, rgb(56,56,56) 90%, rgb(59,59,59) 95%)
  background-image: -moz-linear-gradient(bottom, rgb(32,32,32) 5%, rgb(47,47,47) 60%, rgb(56,56,56) 90%, rgb(59,59,59) 95%)
  background-image: -webkit-linear-gradient(bottom, rgb(32,32,32) 5%, rgb(47,47,47) 60%, rgb(56,56,56) 90%, rgb(59,59,59) 95%)
  background-image: -ms-linear-gradient(bottom, rgb(32,32,32) 5%, rgb(47,47,47) 60%, rgb(56,56,56) 90%, rgb(59,59,59) 95%)
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgb(32,32,32)), color-stop(0.60, rgb(47,47,47)), color-stop(0.90, rgb(56,56,56)), color-stop(0.95, rgb(59,59,59)))
  color: #fff 
  &:hover
    color: #84C1FF