.page(data-bind="visible: page() == 'ball'")
  p.style1 Мои статусные баллы

  p Статусные баллы определяют уровень Вашей карты.
  p Статусные баллы равны сумме, затраченной Вами в автоцентрах Лексус-Пермь, Тойота Центр Пермь, Тойота Центр Прикамье, за все время взаимодействия с нашей компанией (покупки автомобилей, дополнительного оборудования, запчастей и аксессуаров, прохождении сервисного обслуживания).
  p
    strong В таблице Вы можете увидеть историю начисления Ваших статусных баллов:

  table.pure-table.pure-table-striped(width="100%")
    tbody
      tr
        td.title Дата
        td.title Документ
        td.title Наименование товара /  услуги
        td.title Сумма документа
        td.title Итого статусных баллов
      // ko foreach: pointEvents
      // ko if: totalBall
      tr
        td(data-bind="text: time") &nbsp;
        td(data-bind="text: title") &nbsp;
        td(data-bind="text: eventType") &nbsp;
        td(data-bind="text: amount") &nbsp;
        td(data-bind="text: totalBall") &nbsp;
      // /ko
      // /ko
