.page(data-bind="visible: page() == 'bonus'")
  p.style1 Бонусная программа
  p.text-center Как накапливаются бонусные рубли?
  p.style2
    strong В Ваш бонусный сейф зачисляется процент от суммы покупки следующих товаров и услуг:*

  table.pure-table.noBorder(width="100%")
    tr
      td
      td <img src="i/btn_classic-b.png" style="max-width:100%;">
      td <img src="i/btn_premium-b.png" style="max-width:100%;">
      td <img src="i/btn_individual-b.png" style="max-width:100%;">
    tr.pure-table-odd
      td Покупка автомобиля
      td(style="text-align:center;") 1%*
      td(style="text-align:center;") 1,50%
      td(style="text-align:center;") 2%
    tr
      td Сервисные услуги
      td(style="text-align:center;") 3%
      td(style="text-align:center;") 5%
      td(style="text-align:center;") 10%
    tr.pure-table-odd
      td Дополнительное оборудование, запчасти и аксессуары
      td(style="text-align:center;") 3%
      td(style="text-align:center;") 5%
      td(style="text-align:center;") 10%

  p &nbsp;
  p.style2 На что можно потратить бонусные рубли?

  table
    tr
      td
        span(style="display:inline-block;width:120px;padding:10px;border:1px solid #ccc;border-radius:5px;text-align:center;margin-right:10px;")
          strong Оплата бонусными рублями
      td
        &mdash; <strong style="color:red;">услуги сервиса</strong> - до 50% стоимости<br>
        &mdash; <strong style="color:red;">дополнительное оборудование</strong> – до 20% стоимости<br>
        &mdash; <strong style="color:red;">новый автомобиль</strong> – до 3% стоимости**

  p.text-center
    small(style="color:#898989;") * У карт Classic начисление бонусных рублей происходит с покупки второго автомобиля, за первый автомобиль начисляются только статусные баллы.<br>
      ** Возможность траты бонусных рублей <strong>на покупку автомобиля активируется через 3 месяца с даты их начисления</strong>.