.page(data-bind="visible: page() == 'collect'")
  p.style1 Как получить бонусные рубли?
  table.pure-table.pure-table-bordered(width="100%")
    tr
      td.td_red(colspan="4", style="text-align:center;")
        p <small>В ваш сейф зачисляются проценты от суммы, при покупке следующитх товаров и услуг</small>
    tr
      td
      td.td_classic Classic
      td.td_premium Premium
      td.td_individual Individual
    tr.pure-table-odd
      td Покупка ам
      td 1%
      td 1,50%
      td 2%
    tr
      td Сервисные услуги
      td 3%
      td 5%
      td 10%
    tr.pure-table-odd
      td Доп. оборудование, з/ч, аксессуары
      td 3%
      td 5%
      td 10%