.description(data-bind="visible: page() == 'description'")
  p.toyota-center <img src="i/img_about_upd.png" style="max-width:100%; height:auto;">

  table(width="100%")
    tr
      td(width="30%", style="vertical-align:top;")
        p: img(src="i/ico_money_v2.png")
      td(width="5%")
      td(width="30%", style="vertical-align:top;")
        p: img(src="i/ico_privileges_v2.png")
      td(width="5%")
      td(width="30%", style="vertical-align:top;")
        p: img(src="i/ico_family_v2.png")
    tr
      td(style="vertical-align:top;")
        p: a.link-red(href="#", data-bind="click: function() { page('privilege') }") Возвращайте деньги с каждой покупки
      td
      td(style="vertical-align:top;")
        p: a.link-red(href="#", data-bind="click: function() { page('news') }") Получайте привилегии по всему городу
      td
      td(style="vertical-align:top;")
        p: a.link-red(href="#", data-bind="click: function() { page('family') }") Пользуйтесь всей семьей
    tr
      td(style="vertical-align:top;")
        p
          | Пользуясь картами Lexus&Toyota, Вы получаете весомые бонусы на новые покупки и сервисное обслуживание. Участники программы получают предложения о всех  интересных акциях с  особо привлекательными условиями начисления бонусов;
      td
      td(style="vertical-align:top;")
        p
          | К услугам участников программы - широкая партнерская сеть лучших магазинов и заведений города, где Вы, как владелец карты Lexus&Toyota, получаете хорошие скидки и подарки;
      td
      td(style="vertical-align:top;")
        p
          | Теперь Вы можете подключить к своей карте других членов семьи и вместе распоряжаться бонусным счетом, а также гораздо быстрее повысить статус своей карты.

  p
    small(style="color:#898989;"): a(href="http://toyota59.ru/images/64/files/LexusToyotaLoyality.docx", target="_blank") Условия программы.