.page(data-bind="visible: page() == 'family'")
  p.style1 Опция Family - привилегии для всей семьи

  p
    | Теперь у Вас есть возможность получать привилегии всей семьей! Объединяйте Ваши бонусы и пользуйтесь ими вместе, подключив опцию «Family».
  p
    | Кроме того, Вы сможете повысить статус своей карты гораздо быстрее и получить дополнительные преференции в наших автоцентрах и у партнеров программы.

  ul.list-checked
    li Объединение до 4 членов семьи*
    li Единый счет и статус карты
    li Каждый член семьи – участник программы имеет персональную карту привилегий.

  p
    strong Что для этого необходимо?

  p Сообщите об этом любому сотруднику компании и заполните <a href="i/Family.xlsx" target="_blank">заявку*</a>

  p(style="text-align:center;")
    img(src="i/empl-hands-circle.jpg", style="width:426px;height:284px;")

    p
    small(style="color:#898989;")
      | *Подключиться к опции «Family» могут только близкие родственники. Содержание понятия «близкие родственники» определяется в соответствии со статьей 14 Семенйного кодекса РФ.<br>**Для подключения опции необходимо наличие документов, подтверждающих родство.