.description(data-bind="visible: page() == 'faq'")
	p.style1 Ответы на вопросы

	p.style2 У меня карта «Toyota Land». Как мне получить новую карту?
	ul.list-checked
		li Сообщите о своем желании любому из сотрудников наших автоцентров. Также мы можем изготовить карту по Вашему звонку. Круглосуточная телефонная линия: +7 (342) 268-98-88.

	p.style2 В программе «Toyota Land» статус моей карты был «Gold».<br>Сохранится ли мой статус в новой программе?
	ul.list-checked
		li В новой программе привилегий Lexus&Toyota за Вами автоматически закрепится статус Premium, соответственно, если статус Вашей карты был «VIP» за Вами автоматически закрепится статус «Individual».
	table.pure-table.noBorder(style="margin:0 auto;")
		tr.pure-table-odd
			td Карта «Toyota Land»
			td →
			td Карта привилегий Lexus&Toyota
		tr
			td Red
			td →
			td Classic
		tr.pure-table-odd
			td Gold
			td →
			td Premium
		tr
			td VIP
			td →
			td Individual

	p.style2 Когда начинают начисляться бонусные рубли?
	ul.list-checked
		li Сразу же после регистрации в программе и оплаты товара или услуги.

	p.style2 Как я могу присоединить к своему бонусному сейфу автомобиль супруга/супруги?
	ul.list-checked
		li Подключитесь к опции «Family» Для этого необходимо посетить автоцентр вместе, сообщить о своем желании сотруднику, который Вас обслуживает и заполнить заявление. Помните, что при подаче заявки, обязательно наличие документов, удостоверяющих родство.

	p.style2 Сколько родственников я могу присоединить к своему бонусному сейфу?
	ul.list-checked
		li В один бонусный счет могут быть объединены до 4-х членов Вашей семьи, включая Вас.

	p.style2 Сколько могут храниться бонусы в моем сейфе?
	ul.list-checked
		li Бонусные рубли имеют срок годности 2 года. По истечению этого срока бонусы будут списываться в порядке их накопления. Например:

	table.pure-table.noBorder(style="margin:0 auto;")
		tr.pure-table-odd
			td.text-center <strong>За что начислены бонусы</strong>
			td.text-center <strong>Начислено/ дата</strong>
			td.text-center <strong>Списано/ дата</strong>
		tr
			td Прохождение тех. обслуживание
			td 1000 бонусов/ 01.01.2013
			td 1000 бонусов/ 01.01.2015
		tr.pure-table-odd
			td Покупка доп. оборудования
			td 300 бонусов/ 01.04.2013
			td 300 бонусов/ 01.04.2015

	p.style2 Можно ли перевести свои бонусные рубли на чужой счет?
	ul.list-checked
		li Такая возможность есть, если Вы подключились к опции «Family».