.page(data-bind="visible: page() == 'feedback'")
  p.style1 Форма обратной связи
  p.text-center Здесь вы можете оставь отзыв или Ваше пожелание по программе лоляьности

  form.pure-form.pure-form-aligned.feedback_form
    fieldset
      div.pure-control-group
        label(for="name") ФИО
        input(id="name", type="text")
      div.pure-control-group
        label(for="phone") Телефон
        input(id="phone", type="tel")
      div.pure-control-group
        label(for="email") Email
        input(id="email", type="email")
      div.pure-control-group
        label(for="thmsg") Тема сообщения
        select(id="thmsg")
          option Консультация
          option Предложение
          option Технический вопрос
          option Претензия
      div.pure-control-group
        label(for="msg") Сообщение
        textarea
      div.pure-control-group
        label(for="filed") Прикрепить файл
        input(id="filed", type="file")
      div.pure-controls
        img(src="http://dummyimage.com/100x50/4d494d/686a82.gif&text=placeholder+image")
        a.btn_ajax сменить картинку
      div.pure-control-group
        label Текст из картинки
        input(type="text")
      div.pure-controls
        button.pure-button.pure-button-primary(type="submit") Submit