.filter-label-wrapper
  input.filter-input(type="radio", value="description", id="filter-input-description", data-bind="checked: page", checked)
  label.filter-label.filter-label--red(for="filter-input-description", onclick) О программе
//-.filter-label-wrapper
//-  input.filter-input(type="radio", value="points", id="filter-input-points",data-bind="checked: page")
//-  label.filter-label(for="filter-input-points", onclick) Сейф
.filter-label-wrapper
  input.filter-input(type="radio", value="privilege", id="filter-input-privilege",data-bind="checked: page")
  label.filter-label.filter-label--red(for="filter-input-privilege", onclick) Статусы и привилегии
.filter-label-wrapper
  input.filter-input(type="radio", value="news", id="filter-input-news",data-bind="checked: page")
  label.filter-label.filter-label--red(for="filter-input-news", onclick) Партнёры
//-.filter-label-wrapper
//-  input.filter-input(type="radio", value="rules", id="filter-input-rules",data-bind="checked: page")
//-  label.filter-label(for="filter-input-rules", onclick) Что делать с баллами?
.filter-label-wrapper
  input.filter-input(type="radio", value="points", id="filter-input-points",data-bind="checked: page")
  label.filter-label.filter-label--red(for="filter-input-points", onclick) Мой сейф
.filter-label-wrapper
  input.filter-input(type="radio", value="ball", id="filter-input-ball",data-bind="checked: page")
  label.filter-label.filter-label--red(for="filter-input-ball", onclick) Мои статусные баллы
.filter-label-wrapper
  input.filter-input(type="radio", value="bonus", id="filter-input-bonus",data-bind="checked: page")
  label.filter-label.filter-label--red(for="filter-input-bonus", onclick) Бонусная программа
.filter-label-wrapper
  input.filter-input(type="radio", value="family", id="filter-input-family",data-bind="checked: page")
  label.filter-label.filter-label--red(for="filter-input-family", onclick) Опция Family
.filter-label-wrapper
  input.filter-input(type="radio", value="feedback", id="filter-input-feedback",data-bind="checked: page")
  label.filter-label.filter-label--red(for="filter-input-feedback", onclick) Обратная связь