- var hash = commit ? "?" + commit : "";

doctype 5
html(lang="ru")
  head
    meta(charset="utf-8")
    title Программа лояльности
    link(rel="stylesheet", href="http://yui.yahooapis.com/combo?pure/0.3.0/base-min.css&pure/0.3.0/grids-min.css&pure/0.3.0/forms-min.css&pure/0.3.0/buttons-min.css&pure/0.3.0/tables-min.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext,cyrillic")
    link(rel="stylesheet", href="./css/style.css#{ hash }")
  body
    block content

  script(src="./js/libs/require.js", data-main="./js/main.js#{ hash }")
