//- ul.news(data-bind="visible: page() == 'news', foreach: news")
//-   li.news-item
//-     a(data-bind="attr: { href: link, id: 'news-item-' + id }, text: title, click: $root.showNews, clickBubble: false"
//-     class="news-item-link")

div.news(data-bind="visible: page() == 'news'")
  p.style1 Привилегии от партнеров
  p
    |Наши партнеры – это лучшие магазины и заведения города. При выборе каждого партнера, мы  тщательно проверяем его политику в области качества обслуживания. Мы заботимся о том, чтобы Ваша карта была пропуском в мир отличных вещей и услуг, подтверждающих Ваш статус и приносящих Вам только удовольствие.

  div#partner_box
    //- table(width="100%")
    //-   tr
    //-     td(width="40%")&nbsp;
    //-     td(width="20%", style="text-align:center;")
    //-       img(src="./i/btn_classic.png", width="100", alt="classic")
    //-     td(width="20%", style="text-align:center;")
    //-       img(src="./i/btn_premium.png", width="100", alt="premium")
    //-     td(width="20%", style="text-align:center;")
    //-       img(src="./i/btn_individual.png", width="100", alt="individual")
    div.news-item.partner_wrap
      span.partner_wrap-color(style="border: 2px solid #058d49;")
          | Вкусно поесть
      div.partner_list
        table.tableNoHover(width="100%")
          tr
            td(style="width:40%;")&nbsp;
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_classic.png", width="100", alt="classic")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_premium.png", width="100", alt="premium")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_individual.png", width="100", alt="individual")
        table
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_jivago.png", alt="Живаго")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_jivago.png", alt="Живаго")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Ленина 37<br>(342) 235-17-16
                p пн-сб: 12.00-00.00
                p
                  a(href="http://www.permrest.ru/", target="_blank") www.permrest.ru

            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_pasternak.png", alt="Pasternac")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_pasternak.png", alt="Pasternac")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Ленина, 37
                p ежедневно 09.00-23.00
                p
                  a(href="http://www.permrest.ru/", target="_blank") www.permrest.ru
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_invino.png", alt="In Vino")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_invino.png", alt="In Vino")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Куйбышева 16<br>тел. (342) 211-45-55
                p ежедневно 10.00-00.00;
                p Ленина, 37<br>11.00-23.00
                p
                  a(href="http://www.permrest.ru/", target="_blank") www.permrest.ru
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_jivagomarket.png", alt="Живагомаркет")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_jivagomarket.png", alt="Живагомаркет")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Ленина, 37<br>(342) 236-13-93
                p ежедневно с 11.00-23.00
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_vaclav.png", alt="Vaclav")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_vaclav.png", alt="Vaclav")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 20%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г.Звезда, 27<br>тел. (342) 220-66-8
                p пн-ср: 12.00-00.00,<br>чт-сб: 12.00-02.00,<br>вс: 15.00-00.00
                p
                  a(href="http://www.vaclavperm.ru/", target="_blank") www.vaclavperm.ru
            td
              | 10%
            td
              | 15%
            td
              | 20%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_pravila.png", alt="Pravila")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_pravila.png", alt="Pravila")
                ul.partner_item_card
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 20%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г.Звезда, 13<br>тел. (342) 212-90-08
                p пн-чт: 12.00-02.00,<br>пт-сб: 12.00-06.00,<br>вс: 12.00-00.00
            td
              | -
            td
              | 10%
            td
              | 10%

          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_prado.png", alt="Prado")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_prado.png", alt="Prado")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 5%
                  li
                    b(style="color:#000;")|Individual</b> - 5%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г.Звезда, 27<br>тел. (342) 220-66-88, 220-66-77
                p вс-ср: 09:00-00:00, <br>чт-сб: 09:00-02:00
                p
                  a(href="http://vaclavperm.ru/cafe/", target="_blank") vaclavperm.ru/cafe
            td
              | 5%
            td
              | 5%
            td
              | 5%

    div.news-item.partner_wrap
      span.partner_wrap-color(style="border: 2px solid #0e99d4;")
          | Хорошо отдохнуть
      div.partner_list
        table.tableNoHover(width="100%")
          tr
            td(style="width:40%;")&nbsp;
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_classic.png", width="100", alt="classic")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_premium.png", width="100", alt="premium")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_individual.png", width="100", alt="individual")
        table
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_galladance.png", alt="Galladance")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_galladance.png", alt="Galladance")
                p На говодые клубные карты:
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p На 3-6 мес. карты:
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 5%
                  li
                    b(style="color:#000;")|Individual</b> - 5%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Ленина 58а<br>тел. 2364030
                p ежедневно с 10.00-23.00
                p
                  a(href="http://www.galladance.com/", target="_blank") www.galladance.com
            td
              | 5%/10%
            td
              | 5%/10%
            td
              | 5%/10%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_demidkovo.png", alt="Демидково Бронирование")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_demidkovo.png", alt="Демидково")
                p(align="center")
                  strong Бронирование номера, услуги ресторанов, баров
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 5%
                  li
                    b(style="color:#000;")|Individual</b> - 5%
                p(align="center")
                  strong На все виды путевок в санаторий
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 7%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 7%
                  li
                    b(style="color:#000;")|Individual</b> - 7%
                p(align="center")
                  strong Пользование доп. услугами
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Революции, 13 к2<br>тел. (342) 270-12-72
                p Офис, ежедневно 10:00–21:00
                p
                  a(href="http://www.demidkovo.ru/", target="_blank") www.demidkovo.ru
            td
              | 5%/7%/10%
            td
              | 5%/7%/10%
            td
              | 5%/7%/10%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_vertinsky.png", alt="Vertinsky")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_vertinsky.png", alt="Vertinsky")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Ленина, 37<br>тел.(342) 238-35-05
                p ежедневно 20.00-06.00
                p
                  a(href="http://www.permrest.ru/", target="_blank") www.permrest.ru
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_lya-major.png", alt="Ля Мажор")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_lya-major.png", alt="Ля Мажор")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Ленина, 58а<br>(342) 206-60-70
                p пн-чт: 12.00-06.00,<br>пт-сб: 11.00-08.00,<br>вс: 18.00-06.00
                p
                  a(href="http://www.lamajor59.ru/", target="_blank") www.lamajor59.ru
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_bouling-planet.png", alt="Боулинг планета")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_bouling-planet.png", alt="Боулинг планета")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 20%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 20%
                  li
                    b(style="color:#000;")|Individual</b> - 20%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Мира, 41/1, <br>тел. (342) 22-99-555
                p пт-пт: 12.00-06.00,<br>сб-вс: 08.00-06.00
                p
                  a(href="http://www.planetabowling.com/", target="_blank") www.planetabowling.com
            td
              | 20%
            td
              | 20%
            td
              | 20%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_park-hotel.png", alt="Park hotel")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_park-hotel.png", alt="Park hotel")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Кировоградская, 106<br>тел. (342) 252-78-99
                p ежедневно с 12.00-00.00
                p
                  a(href="http://www.parkhotel.perm.ru/", target="_blank") www.parkhotel.perm.ru
            td
              | 5%
            td
              | 10%
            td
              | 15%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_kama-fish.png", alt="Кама ФИШ")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_kama-fish.png", alt="Кама ФИШ")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 7%
                  li
                    b(style="color:#000;")|Individual</b> - 7%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Крупской, 48<br>
                  |ТЦ "Гостинный двор", Комсомольский проспект, 54<br>
                  |тел. (342) 262-39-70
                p пн-сб: 10.00-20.00,<br>вс: 10.00-18.00
                p
                  a(href="http://kama-fish.ru/", target="_blank") kama-fish.ru
            td
              | 5%
            td
              | 7%
            td
              | 7%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_peterville.png", alt="Peterville")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_peterville.png", alt="Peterville")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г.Санкт-Петербург, ул.Коломенская, 29<br><b>Тел.:</b> +7 (812) 607-57-47
                p
                  a(href="http://peterville.ru/", target="_blank") peterville.ru
            td
              | 5%
            td
              | 10%
            td
              | 15%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_gornyy-hrustal.png", alt="Горный хрусталь")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_gornyy-hrustal.png", alt="Горный хрусталь")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Уральская, 85
                p пт-сб: 23.00-06.00
                p
                  a(href="http://www.gh-club.ru/", target="_blank") www.gh-club.ru
            td
              | 5%
            td
              | 10%
            td
              | 10%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_klub-moloko.png", alt="Клуб Молоко")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_klub-moloko.png", alt="Клуб Молоко")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Уральская 85,<br>тел.: 8 (342) 211-58-88
                p
                  a(href="http://moloko-club.ru/", target="_blank") moloko-club.ru
            td
              | 5%
            td
              | 10%
            td
              | 10%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_barton.png", alt="караоке Bar&ton")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_barton.png", alt="караоке Bar&ton")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Уральская 85,<br>тел.: 8 (342) 202 00 10
                p Пн-Сб 21:00–06:00
                p
                  a(href="http://moloko-club.ru/", target="_blank") moloko-club.ru
            td
              | 5%
            td
              | 10%
            td
              | 10%

    div.news-item.partner_wrap
      span.partner_wrap-color(style="border: 2px solid #ed1c24;")
          | Сделать подарок
      div.partner_list
        table.tableNoHover(width="100%")
          tr
            td(style="width:40%;")&nbsp;
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_classic.png", width="100", alt="classic")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_premium.png", width="100", alt="premium")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_individual.png", width="100", alt="individual")
        table
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_etalon.png", alt="Эталон")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_etalon.png", alt="Эталон")
                p(align="center")
                  strong Наличный расчет
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 5%
                  li
                    b(style="color:#000;")|Individual</b> - 5%
                p(align="center")
                  strong Безналичный расчет
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 3%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 3%
                  li
                    b(style="color:#000;")|Individual</b> - 3%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Осинская, 6<br>тел.: (342)218-17-42, (342) 218-17-41
                p Пн-Пт 10:00–20:00;<br>Сб 11:00-18:00;<br>Вс - выходной
                p
                  a(href="http://www.etalon-perm.ru/", target="_blank") www.etalon-perm.ru
            td
              | 5%/3%
            td
              | 5%/3%
            td
              | 5%/3%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_davinchi.png", alt="Da Vinchi")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_davinchi.png", alt="Da Vinchi")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Газеты Звезда, 27 — 2 этаж;<br>тел. (342) 237-73-67
                p Будние дни 10:00–20:00;<br>Суббота, воскресенье 11:00–18:00
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_fanfan.png", alt="Фан ФАН")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_fanfan.png", alt="Фан ФАН")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 20%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 20%
                  li
                    b(style="color:#000;")|Individual</b> - 30%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г.Пермь, ул.Ленина, 69<br>г.Пермь, ул.Крупской, 28<br>г.Пермь, Комсомольский проспект, 33<br>Тел.: (342) 211-40-01
                p круглосуточно
                p
                  a(href="http://fanfan.perm.ru/", target="_blank") fanfan.perm.ru
            td
              | 20%
            td
              | 20%
            td
              | 30%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_violet.png", alt="Violet")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_violet.png", alt="Violet")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Сибирская, 17;<br>Сибирская, 61;<br>Екатерининская, 87;<br>Екатерининская, 120;<br>Докучаева, 42;<br>Тел.:(342) 209-12-12 
                p с 8:00 -21:00
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_advokat.png", alt="Адвокат")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_advokat.png", alt="Адвокат")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Луначарского, 51<br>Тел.:(342) 233-58-59, (342) 233-59-05
                p с 09:00–23:00
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_vinorio.png", alt="Винотека")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_vinorio.png", alt="Винотека")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г. Пермь, ул. Сибирская, 4а<br>тел. 342-20 797 20
                p
                  a(href="http://www.VINORIO.ru/", target="_blank") www.VINORIO.ru
            td
              | 10%
            td
              | 15%
            td
              | 15%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_couverture.png", alt="Couverture")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_couverture.png", alt="Couverture")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 7%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Борчанинова, 13 Тел.:8-950-479-97-15<br>Революции, 13 к1 Тел.:8-951-958-34-06<br>Крупской, 39 Тел.:8-952-326-66-23<br>Космонавтов шоссе, 65 Тел.: 8-951-953-19-57<br>Народовольческая, 32 (342) 210-81-00
                p Борчанинова, 13; Крупской, 39; Шоссе Космонавтов, 65 Ежедневно 10:00–21:00;
                p Революции, 13 к1 Ежедневно 10:00–22:00;
                p ул. Народовольческая, 32 Будние дни 08:30–17:30<br>
                |Суббота, воскресенье — выходные
                p
                  a(href="http://www.couverture.ru/", target="_blank") www.couverture.ru
            td
              | 7%
            td
              | 15%
            td
              | 15%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_chai-kofe.png", alt="Чай, кофе")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_chai-kofe.png", alt="Чай, кофе")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Луначарского 51,<br>
                  |Ленина 60 (вход с ул Кирова), 233-22-443<br>
                  |Сибирская 61, 281-57-22
                p Ежедневно 10:00–20:00
            td
              | 10%
            td
              | 10%
            td
              | 10%

    div.news-item.partner_wrap
      span.partner_wrap-color(style="border: 2px solid #a25742;")
          | Обновить гардероб
      div.partner_list
        table.tableNoHover(width="100%")
          tr
            td(style="width:40%;")&nbsp;
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_classic.png", width="100", alt="classic")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_premium.png", width="100", alt="premium")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_individual.png", width="100", alt="individual")
        table
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_emporio_armani.png", alt="Emporio Armani")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_emporio_armani.png", alt="Emporio Armani")
                ul.partner_item_card
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г. Пермь,<br>ул. Г. Звезда, 24,<br>тел.: +7(342)217-06-65
                p с 11.00 до 21.00 ежедневно
                p
                  a(href="http://www.element.perm.ru/", target="_blank") www.element.perm.ru
            td
              | -
            td
              | 10%
            td
              | 10%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_escada.png", alt="ESCADA")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_escada.png", alt="ESCADA")
                ul.partner_item_card
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г. Пермь, ул. Пермская, 72,<br>тел.: +7(342)212-31-55
                p с 11.00 до 21.00 ежедневно
                p
                  a(href="http://www.element.perm.ru/", target="_blank") www.element.perm.ru
            td
              | -
            td
              | 10%
            td
              | 10%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_boutique.png", alt="Элемент роскоши boutique")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_boutique.png", alt="Элемент роскоши boutique")
                ul.partner_item_card
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 20%
                  li
                    b(style="color:#000;")|Individual</b> - 20%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Пермь, ул. Г. Звезда, 27,<br>мужской зал: +7(342)233-46-36,<br>женский зал: +7(342)233-47-37
                p с 11.00 до 21.00 ежедневно
                p
                  a(href="http://www.element.perm.ru/", target="_blank") www.element.perm.ru
            td
              | -
            td
              | 20%
            td
              | 20%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_jeans.png", alt="Элемент роскоши Jeans store")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_jeans.png", alt="Элемент роскоши Jeans store")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г. Пермь, ул. Советская, 62,<br>мужской зал: +7(342)240-36-35,<br>женский зал: +7(342)240-36-36
                p с 11.00 до 21.00 ежедневно
                p
                  a(href="http://www.element.perm.ru/", target="_blank") www.element.perm.ru
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_detki.png", alt="Роскошные детки")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_detki.png", alt="Роскошные детки")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г. Пермь, ул. Г. Звезда, 24 (3 этаж),<br>тел.: +7(342)212-32-22
                p с 11.00 до 21.00 ежедневно
                p
                  a(href="http://www.element.perm.ru/", target="_blank") www.element.perm.ru
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_arta.png", alt="ARTA")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_arta.png", alt="ARTA")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г. Пермь, ул. Екатерининская, д. 59;<br>(342) 2-109-749
                p
                  a(href="http://www.artashop.ru/", target="_blank") www.artashop.ru
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_place.png", alt="Place")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_place.png", alt="Place")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 20%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г. Пермь, ул. Советская, д. 28а<br>Тел.: 89091150525 
                p
                  a(href="http://placeshop.ru/", target="_blank") placeshop.ru
            td
              | 10%
            td
              | 15%
            td
              | 20%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_js-selected.png", alt="JS Selected")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_js-selected.png", alt="JS Selected")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 7%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 7%
                  li
                    b(style="color:#000;")|Individual</b> - 7%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г.Пермь, Комсомольский проспект, д.16,<br>тел. 212-90-60
                p
                  a(href="http://jscasual.ru/", target="_blank") jscasual.ru
            td
              | 7%
            td
              | 7%
            td
              | 7%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_soho.png", alt="Soho")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_soho.png", alt="Soho")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |ул. Революции, 13; ТРК "Колизей-Синема", 2 этаж<br>Тел: +7 (342) 238-70-89 
                p ТРК "Семья" с 10:00 до 22:00;<br>ТРК "Колизей-Синема" с 10:00- 21:00
                p
                  a(href="http://www.permfashion.ru/", target="_blank") www.permfashion.ru
            td
              | 10%
            td
              | 15%
            td
              | 15%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_corso-como.png", alt="Corso Como")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_corso-como.png", alt="Corso Como")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |ул. Революции, 13;<br>Тел: +7 (342) 238-70-89  
                p с 10:00 до 22:00
                p
                  a(href="http://www.permfashion.ru/", target="_blank") www.permfashion.ru
            td
              | 10%
            td
              | 15%
            td
              | 15%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_children.png", alt="Детский гардероб")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_children.png", alt="Детский гардероб")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |ул. М. Горького, 51<br>Тел: +7 (342) 238-70-89  
                p с 10:00 до 20:00
                p
                  a(href="http://www.permfashion.ru/", target="_blank") www.permfashion.ru
            td
              | 10%
            td
              | 15%
            td
              | 15%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_geox.png", alt="GEOX")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_geox.png", alt="GEOX")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |ул. Революции, 13<br>Тел: +7 (342) 238-70-89  
                p с 10:00 до 22:00
                p
                  a(href="http://www.permfashion.ru/", target="_blank") www.permfashion.ru
            td
              | 10%
            td
              | 15%
            td
              | 15%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_strellson.png", alt="STRELLSON")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_strellson.png", alt="STRELLSON")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |ул. Революции, 13<br>Тел: +7 (342) 238-70-89 
                p с 10:00 до 22:00
                p
                  a(href="http://www.permfashion.ru/", target="_blank") www.permfashion.ru
            td
              | 10%
            td
              | 15%
            td
              | 15%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_emotion.png", alt="Emotion")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_emotion.png", alt="Emotion")
                p
                  | Классическая женская и мужская одежда и аксессуары.
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 15%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  | Ленина 58А, БЦ Любимов - тел. (342) 215-2000<br>
                  | Екатерининская, 59 - тел (342) 206-2000
                p с 11:00 до 21:00
                p
                  a(href="http://www.permfashion.ru/", target="_blank") www.club-emotion.com
            td
              | 15%
            td
              | 15%
            td
              | 15%

    div.news-item.partner_wrap
      span.partner_wrap-color(style="border: 2px solid #f05a72;")
          | Позаботиться о здоровье и красоте
      div.partner_list
        table.tableNoHover(width="100%")
          tr
            td(style="width:40%;")&nbsp;
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_classic.png", width="100", alt="classic")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_premium.png", width="100", alt="premium")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_individual.png", width="100", alt="individual")
        table
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_babor.png", alt="Babor beauty spa")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_babor.png", alt="Babor beauty spa")
                p
                  | Институт красоты Babor beauty spa дарит участникам программы привилегий скидку 50% при первом посещении.
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |ул.Ленина 58,<br>тел. +7 (342) 233-05-05, 233-06-06
                p ежедневно 09.00-21.00
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_il-de-bote.png", alt="Иль де боте")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_il-de-bote.png", alt="Иль де боте")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 25%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 25%
                  li
                    b(style="color:#000;")|Individual</b> - 25%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Революции, 13 к2, тел. (342) 238-70-90;<br>Ленина, 80, тел. (342) 236-68-86;<br>Ком. Проспект 24, тел.(342) 210-12-81
                p ежедневно 10.00-22.00 - в ТРК семья;<br>ежедневно 10.00-21.00 - Ленина 80, Ком. Проспект 24
                p
                  a(href="http://www.etoya.ru/", target="_blank") www.etoya.ru
            td
              | 25%
            td
              | 25%
            td
              | 25%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_sfera.png", alt="Сфера")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_sfera.png", alt="Сфера")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 15%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Ком. Проспект 33,<br>тел. (342) 212-18-33
                p пн-пт 10.00-20.00;<br>cб 10.00-19.00,<br>вс 10.00-18.00
                p
                  a(href="http://www.sph-perm.ru/", target="_blank") www.sph-perm.ru
            td
              | 10%
            td
              | 10%
            td
              | 10%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_planet-zdorove.png", alt="Планета здоровья")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_planet-zdorove.png", alt="Планета здоровья")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 2%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 2%
                  li
                    b(style="color:#000;")|Individual</b> - 2%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Сеть городских аптек
                p 10.00-22.00, круглосуточно
                p
                  a(href="http://www.planetazdorovo.ru/", target="_blank") www.planetazdorovo.ru
            td
              | 2%
            td
              | 2%
            td
              | 2%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_astra.png", alt="Астра")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_astra.png", alt="Астра")
                p(align="center")
                  strong Лечение
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 7%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p(align="center")
                  strong Имплантация и протезирование
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 7%
                  li
                    b(style="color:#000;")|Individual</b> - 7%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Пермская 161,<br>тел. (342) 236-22-38
                p пн-пт 08.00-21.00;<br>cб 09.00-16.00,<br>вс 09.00-15.00
                p
                  a(href="http://xn--80aamdb3bksgclh3c.xn--p1ai/", target="_blank") астрамедцентр.рф
            td
              | 7%/5%
            td
              | 10%/7%
            td
              | 10%/7%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_olimpia_kinez.png", alt="Центр кинезитерапии")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_olimpia_kinez.png", alt="Центр кинезитерапии")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    | Ждем Вас по адресу:<br>
                  | ул.Революции 21, жк «Виктория»<br>Тел. (342) 2 567894
                p пн-пт: 08.00-22.30,<br>сб: 09.00-21.00;<br>вс: 09.00-18.00
                p
                  a(href="http://olympiaperm.ru/", target="_blank") olympiaperm.ru
            td
              | 10%
            td
              | 10%
            td
              | 10%

    div.news-item.partner_wrap
      span.partner_wrap-color(style="border: 2px solid #dcbf24;")
          | Заняться спортом
      div.partner_list
        table.tableNoHover(width="100%")
          tr
            td(style="width:40%;")&nbsp;
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_classic.png", width="100", alt="classic")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_premium.png", width="100", alt="premium")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_individual.png", width="100", alt="individual")
        table
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_hamilton.png", alt="Hamilton")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_hamilton.png", alt="Hamilton")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p(align="center")
                  strong Ресторан
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Сакко и Ванцетти, 98,<br>тел. (342) 278-70-70
                p Ежедневно 07:00–23:00
                p
                  a(href="http://www.hamilton.perm.ru/", target="_blank") www.hamilton.perm.ru
            td
              | 10%
            td
              | 10%
            td
              | 15%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_coliseum.png", alt="Coliseum")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_coliseum.png", alt="Coliseum")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 15%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 20%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Ленина, 60<br>тел. (342) 278-70-70
                p круголосуточно
                p
                  a(href="http://permfitness.ru/", target="_blank") permfitness.ru
            td
              | 15%
            td
              | 15%
            td
              | 20%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_abt-sport.png", alt="A.B.T. сопрт")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_abt-sport.png", alt="A.B.T. сопрт")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - до 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - до 10%
                  li
                    b(style="color:#000;")|Individual</b> - до 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Куйбышева, 115б/1, тел. (342) 214-08-88;<br>М. Рыбалко,32, тел. (342) 214-89-88;<br>Космонавтов шоссе, 186, тел. (342) 215-38-88;
                p пн-пт: 10.00-20.00;<br>сб-вс: 10.00-19.00
                p
                  a(href="http://www.avtsport.ru/", target="_blank") www.avtsport.ru
            td
              | до 10%
            td
              | до 10%
            td
              | до 10%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_forward.png", alt="FORWARD")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_forward.png", alt="FORWARD")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Революции 4, тел.<br>(342) 216-62-83
                p пн-сб: 10.00-20.00;<br>вс: 10.00-19.00
                p
                  a(href="http://www.forwardvelo.ru/", target="_blank") www.forwardvelo.ru
            td
              | 5%
            td
              | 10%
            td
              | 10%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_dilos.png", alt="diLOS EXTREME")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_dilos.png", alt="diLOS EXTREME")
                p На одежду и аксессуары
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 3%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 5%
                  li
                    b(style="color:#000;")|Individual</b> - 5%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Борцов Революции, 152в,<br>тел.(342) 257-69-69
                p пн-пт 10.00-20.00;<br>cб 10.00-19.00,<br>вс 10.00-18.00
                p
                  a(href="http://d-x.ru/", target="_blank") d-x.ru
            td
              | 3%
            td
              | 5%
            td
              | 5%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_olimpia.png", alt="Олимпия")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_olimpia.png", alt="Олимпия")
                p На годовые карты:
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Мира, 41<br>(342) 256-78-92
                p пн-пт: 07.00-22.30,<br>сб-вс: 08.00-22.30
                p
                  a(href="http://www.olympiaperm.ru/", target="_blank") www.olympiaperm.ru
            td
              | 10%
            td
              | 10%
            td
              | 10%

    div.news-item.partner_wrap
      span.partner_wrap-color(style="border: 2px solid #46a6af;")
          | Обустроить дом
      div.partner_list
        table.tableNoHover(width="100%")
          tr
            td(style="width:40%;")&nbsp;
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_classic.png", width="100", alt="classic")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_premium.png", width="100", alt="premium")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_individual.png", width="100", alt="individual")
        table
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_mobel.png", alt="mobel&zeit")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_mobel.png", alt="mobel&zeit")
                p Подарки на % от приобретенной мебели
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 20%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |г.Звезда 13, тел. (342) 212-96-56;<br>Лебедева 13, (342) 266-12-55 
                p пн-пт: 10.00-22.00,<br>сб: 10.00-19.00;<br>вс: 11.00-19.00
                p
                  a(href="http://www.mz5.ru/", target="_blank") www.mz5.ru
            td
              | 10%
            td
              | 15%
            td
              | 20%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_bang.png", alt="Bang&Olufsen")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_bang.png", alt="Bang&Olufsen")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 8%
                  li
                    b(style="color:#000;")|Individual</b> - 8%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Петропавловская 12,<br>(342) 212-02-40 
                p пн-пт:10.00-19.00,<br>сб: 10.00-18.00
            td
              | 5%
            td
              | 8%
            td
              | 8%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_willeroy.png", alt="Willeroy & BOSCH")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_willeroy.png", alt="Willeroy & BOSCH")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 8%
                  li
                    b(style="color:#000;")|Individual</b> - 8%
                p
                  b
                    |Ждем Вас по адресу:<br>
                  |Сибирская, 4а,<br>тел. (342) 212-11-12
                p пн-пт 10.00-20.00;<br>cб 11.00-18.00,<br>вс 12.00-17.00
            td
              | 5%
            td
              | 8%
            td
              | 8%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_leowe.png", alt="LOEWE")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_leowe.png", alt="LOEWE")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 3%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 3%
                  li
                    b(style="color:#000;")|Individual</b> - 3%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Петропавловская 12, (342) 2120297
                p
                  a(href="http://www.loewe.tv/ru/", target="_blank") www.loewe.tv/ru
            td
              | 3%
            td
              | 3%
            td
              | 3%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_flamant.png", alt="Flamant")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_flamant.png", alt="Flamant")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 5%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 8%
                  li
                    b(style="color:#000;")|Individual</b> - 8%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Ленина 20,<br>тел. (342) 212-55-4
                p пн-пт 10.00-20.00;<br>cб 11.00-18.00,<br>вс 12.00-17.00
                p
                  a(href="http://www.flamantperm.ru/", target="_blank") www.flamantperm.ru
            td
              | 5%
            td
              | 8%
            td
              | 8%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_preobraj.png", alt="Преображенское")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_preobraj.png", alt="Преображенское")
                ul.partner_item_card
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 1,5%
                  li
                    b(style="color:#000;")|Individual</b> - 2%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Ленина 92, Славяновский Plaza, офис 404<br>тел/факс: 217-08-17
                p
                  a(href="http://preobragenskoe.com/", target="_blank") preobragenskoe.com
            td
              | -
            td
              | 1,5%
            td
              | 2%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_raita.png", alt="Raita")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_raita.png", alt="Raita")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Шоссе Космонавтов, 370<br>тел: 200-94-10, факс: 200-94-11
                p пн-сб 11.00-20.00;<br>вс 11.00-18.00
                p
                  a(href="http://www.raita.lv/", target="_blank") www.raita.lv
            td
              | 10%
            td
              | 10%
            td
              | 10%

    div.news-item.partner_wrap
      span.partner_wrap-color(style="border: 2px solid #a64686;")
          | Воспользоваться услугами
      div.partner_list
        table.tableNoHover(width="100%")
          tr
            td(style="width:40%;")&nbsp;
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_classic.png", width="100", alt="classic")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_premium.png", width="100", alt="premium")
            td(width="20%", style="text-align:center;")
              img(src="./i/btn_individual.png", width="100", alt="individual")
        table
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_datakit.jpg", alt="DATAKIT: Продвижение сайтов - +7 342 236 06 76, Пермь")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_datakit.jpg", alt="DATAKIT: Продвижение сайтов - +7 342 236 06 76, Пермь")
                p
                  |Скидки на услуги консалтинга и аналитики, продвижения и создания сайтов, мобильных приложений. Поисковая оптимизация и контекстная реклама. Продвижение в социальных сетях.
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 15%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 15%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |ул. Окулова 80/111, офис 403<br>Тел: 8 (342) 236-06-76
                p
                  a(href="http://datakit.ru/", target="_blank") datakit.ru
            td
              | 15%
            td
              | 15%
            td
              | 15%
          tr.td_odd
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_fibri.png", alt="Firbi")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_fibri.png", alt="Firbi")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 15%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |ул. Орджоникидзе, 14;<br>ул. Ш. Космонавтов 164/1;<br>Универсам "Семья";<br>ТРК "Колизей-Синема";<br>ТЦ "Разгуляй";<br>ТРЦ "Столица";<br>гипермаркет "Семья";<br>ТЦ "Шоколад";<br>ТЦ"Домино";<br>ТК "Земляника";<br>гиперамаркет "Виват";<br>ТЦ "Времена года";<br>ТЦ "КИТ";<br>магазин "Семья" на садовом;<br>супермаркет "Перекресток";<br>ТЦ "Браво"<br>Тел.: (342) 210-30-41; (342) 235-00-10
                p с 10:00 до 21:00
                p
                  a(href="http://www.firbi.ru/", target="_blank") www.firbi.ru
            td
              | 10%
            td
              | 10%
            td
              | 15%
          tr
            td.partner_img
              a
                img.partner_logo(src="./i/partner/logo_integra.png", alt="Сеть автомоек Integra")
              .partner_item
                p
                  img.box_close(alt="закрыть", src="./i/close.png")
                p
                  img.partner_logo(src="./i/partner/logo_integra.png", alt="Сеть автомоек Integra")
                ul.partner_item_card
                  li
                    b(style="color:#e31e24;")|Classic</b> - 10%
                  li
                    b(style="color:#d4a91b;")|Premium</b> - 10%
                  li
                    b(style="color:#000;")|Individual</b> - 10%
                p 
                  b 
                    |Ждем Вас по адресу:<br>
                  |Шоссе Космонавтов, 27а<br>Шоссе Космонавтов,59<br>Героев Хасана, 37а/1;<br>Монастырская, 12б/1;<br>Некрасова, 11/1<br>Тел: (342) 277-50-20 круглосуточная единая справочная<br>(342) 298-88-83
                p Круглосуточно
                p
                  a(href="http://integra.perm.ru/", target="_blank") integra.perm.ru
            td
              | 10%
            td
              | 10%
            td
              | 10%