//-ul.points(data-bind="visible: page() == 'points', foreach: pointEvents")
//-  li.points-item
//-    span(class="points-item-title", data-bind="text: title")
//-    span(class="points-item-number", data-bind="text: points", style="float: right")

.page(data-bind="visible: page() == 'points'")
  p.style1 Мой сейф

  p.text-center 
    strong(style="font-size:18px;") В вашем сейфе <span class="pre_link" data-bind="text: cardPoints">&nbsp;</span> бонусных рублей.

  p Совершая покупки в наших автосалонах( автомобиль, дополнительное оборудование, сервисное обслуживание), Вы можете копить и тратить бонусные рубли. Историю накопления и траты Ваших бонусных рублей Вы можете посмотреть в таблице.

  table.pure-table.pure-table-striped(width="100%")
    tbody
      tr
        td.title Дата
        td.title Документ
        td.title Наименование товара / услуги
        td.title Сумма документа
        td.title Начислено бонусных рублей
        td.title Оплачено бонусными рублями
        td.title Итого бонусных рублей
      // ko foreach: pointEvents
      // ko if: points
      tr
        td(data-bind="text: time") &nbsp;
        td(data-bind="text: title") &nbsp;
        td(data-bind="text: eventType") &nbsp;
        td(data-bind="text: amount") &nbsp;
        td(data-bind="text: points >= 0 ? points : ' '") &nbsp;
        td(data-bind="text: points < 0 ? -1 * points : ' '") &nbsp;
        td(data-bind="text: total") &nbsp;
      // /ko
      // /ko

  p
    strong Помните, что:
  p.text-center
    small(style="color:#898989;")
      | *У карт Classic начисление бонусных рублей происходит с покупки второго автомобиля, за первый автомобиль начисляются только статусные баллы.<br>
      | **Возможность траты бонусных рублей <strong>на покупку автомобиля активируется через 3 месяца с даты их начисления</strong>.