.page(data-bind="visible: page() == 'privilege'")
  p.style1 Статус и привилегии карты

  div#statusbox
    div.partner_wrap
    
      h2.collaps 1. Определяем статус карты
      div
        p
          | Программа привилегий предполагает три вида карт <strong>Classic, Premium и Individual</strong>. Вид карты определяется <a href="#" data-bind="click: function() { page('ball') }">количеством статусных баллов</a>.
        p
          | <a href="#" data-bind="click: function() { page('ball') }">Статусные баллы</a> равны сумме, затраченной Вами в автоцентрах Лексус-Пермь, Тойота Центр Пермь, Тойота Центр Прикамье, за все время взаимодействия с нашей компанией (покупки автомобилей, дополнительного оборудования, запчастей и аксессуаров, прохождении сервисного обслуживания).

        .pure-g
          div.pure-u-1-3
            div.privilege-inner
              img(src="i/rect_classic-v2.png", style="width:100%;")
              span.style3 Classic
              p от 20 т.р.&mdash;10 млн. руб

          div.pure-u-1-3
            div.privilege-inner
              img(src="i/rect_premium-v2.png", style="width:100%;")
              span.style3 Premium
              p от 10&mdash;35 млн. руб
          div.pure-u-1-3
            div.privilege-inner
              img(src="i/rect_individual-v2.png", style="width:100%;")
              span.style3 Individual
              p от 35 млн. руб

      h2.collaps 2. Выбираем привилегии
      div
        table.pure-table.noBorder
          tbody
            tr
              td(width="40%") <strong>Привилегии для участников программы</strong>
              td.text-center(width="20%") <img src="i/btn_classic-b.png" style="width:100px;">
              td.text-center(width="20%") <img src="i/btn_premium-b.png" style="width:100px;">
              td.text-center(width="20%") <img src="i/btn_individual-b.png" style="width:100px;">
            tr.pure-table-odd
              td Привилегии от партнеров
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
            tr
              td Возможность подключения опции «Family» - привилегии для всей семьи!
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
            tr.pure-table-odd
              td Личный кабинет в мобильном приложении для систем iOS
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
            tr
              td Приглашения на закрытые мероприятия компании
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
            tr.pure-table-odd
              td Бесплатная консультация по техническим вопросам 24 часа по тел. 8 (342) 271 80 90
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
            tr
              td Информация о специальных закрытых акциях
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
            tr.pure-table-odd
              td Такси при прохождении ТО*
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
            tr
              td Такси при прохождении всех видов сервисного обслуживания 
              td.text-center
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
            tr.pure-table-odd
              td Эксклюзивная телефонная линия
              td.text-center
              td.text-center
                i.ico_dot
              td.text-center
                i.ico_dot
            tr
              td Услуга «Шинный отель»
              td.text-center
              td.text-center скидка 50%
              td.text-center бесплатно
            tr.pure-table-odd
              td Выезд к Клиенту для проведения тест-драйва в любое удобное для него время и место
              td.text-center
              td.text-center
              td.text-center
                i.ico_dot
            tr
              td Индивидуальный поиск автомобиля**
              td.text-center
              td.text-center
              td.text-center
                i.ico_dot

        p
          small(style="color:#898989;")
            | *Клиенты автоцентра Лексус-Пермь имеют возможность вызова бесплатного такси при любом уровне карты.<br>
            | **Поиск автомобиля определенной комплектации по желанию клиента.

      h2.collaps 3. Накапливаем бонусы
      div
        p Ваша Карта может постоянно пополняться. Она представляет собой <a href="#" data-bind="click: function() { page('points') }"><strong>бонусный сейф</strong></a><strong>, в котором копятся проценты от суммы любой Вашей покупки:*</strong>

        table.pure-table.noBorder(width="100%")
          tr
            td(width="40%")
            td.text-center(width="20%") <img src="i/btn_classic-b.png" style="width:100px;">
            td.text-center(width="20%") <img src="i/btn_premium-b.png" style="width:100px;">
            td.text-center(width="20%") <img src="i/btn_individual-b.png" style="width:100px;">
          tr.pure-table-odd
            td Покупка автомобиля
            td.text-center 1%*
            td.text-center 1,5%
            td.text-center 2%
          tr
            td Сервисные услуги
            td.text-center 3%
            td.text-center 5%
            td.text-center 10%
          tr.pure-table-odd
            td Дополнительное оборудование, запчасти и аксессуары
            td.text-center 3%
            td.text-center 5%
            td.text-center 10%

        p.style2
          a#clck_priv(href="#") Специальные условия для участников программы Toyota Land.
        div#clck_block(style="display:none;")
          p.text-center Мы благодарны Вам за активное участие в программе «Toyota Land», и поэтому предлагаем Вам особые условия начисления бонусных рублей:

          p.text-center
            strong Получайте на 20% больше выгоды!*

          table.pure-table.noBorder(width="100%")
            tr
              td(width="40%") С 1.10.2013<br>по 1.10.2014
              td.text-center(width="20%") <img src="i/btn_classic-b.png" style="width:100px;">
              td.text-center(width="20%") <img src="i/btn_premium-b.png" style="width:100px;">
              td.text-center(width="20%") <img src="i/btn_individual-b.png" style="width:100px;">
            tr.pure-table-odd
              td Зачисление<br>бонусных рублей<br>при покупке Автомобиля
              td.text-center 1,2%<br>от стоимости<br>автомобиля
              td.text-center 1,8%<br>от стоимости<br>автомобиля
              td.text-center 2,5%<br>от стоимости<br>автомобиля

        p
          small(style="color:#898989;")
            | * У карт Classic начисление бонусных рублей происходит с покупки второго автомобиля, за первый автомобиль начисляются только статусные баллы.

      h2.collaps 4. Тратим с удовольствием
      div
        p Бонусными баллами можно оплатить:

        table(width="100%")
          tr
            td(width="30%", style="vertical-align:top;")
              p: img(src="i/ico_service.png")
            td(width="5%")
            td(width="30%", style="vertical-align:top;")
              p: img(src="i/ico_dopoborud.png")
            td(width="5%")
            td(width="30%", style="vertical-align:top;")
              p: img(src="i/ico_newcar.png")
          tr
            td(style="vertical-align:top;")
              p <strong>Услуги сервиса</strong><br>до 50% стоимости
            td
            td(style="vertical-align:top;")
              p <strong>Дополнительное оборудование</strong><br>до 50% стоимости
            td
            td(style="vertical-align:top;")
              p <strong>Новый автомобиль</strong><br>до 5% стоимости**
        p
          small(style="color:#898989;")
            | ** Возможность траты бонусных рублей <strong>на покупку автомобиля активируется через 3 месяца с даты их начисления.</strong>
            



