.page(data-bind="visible: page() == 'rules'")
  p Полученные бонусные рубли клиент может потратить на:
  ul.list
    li.list-item оплату до 50 % услуг сервиса;
    li.list-item оплату до 20% стоимости дополнительного оборудования;
    li.list-item оплату автомобиля до 3%*.
  p * Возможность использования бонусных рублей для оплаты автомобиля открывается после 6 месяцев с даты начисления  бонусных рублей.