.page(data-bind="visible: page() == 'spend'")
  p.style2.text-center На что можно потратить бонусные рубли?
  p.text-center В рамках программы лояльности Lexus & Toyota, вы можете<br> потратить бонусные рубли на:
  table.pure-table.pure-table-horizontal.table_status_card
    tbody
      tr
        td.td_classic(style="text-align:center;padding:40px 10px;width:33%;")
          p Оплату до 20% стоимости доп.оборудования
        td.td_premium(style="text-align:center;padding:40px 10px;width:34%;")
          p Оплату до 50 % услуг сервиса
        td.td_individual(style="text-align:center;padding:40px 10px;width:33%;")
          p Покупку нового автомобиля Lexus / Toyota*
  p.text-center Покупка автомобиля возможнга только за бонусные рубли с даты начисления которых прошло 6 и более месяцев.