extends includes/layout

block content
  div.overLayer(id="overlay")
  .container.second_page
    .login(data-bind="visible: token().length == 0", style="display: none")
      form.login-form.pure-form(data-bind="submit: login")
        fieldset
          div.pure-control-group
            label.login-form-label
              span Логин
              input.login-form-input.input-login(type="text", name="input-login", autofocus)
          div.pure-control-group
            label.login-form-label
              span Пароль
              input.login-form-input.input-password(type="password", name="input-password")
          div.btn-wrapper.pure-controls
            input.btn.pure-button.pure-button-red(type="submit", value="Войти")
            p
              a.btn.pure-button(href="http://toyota59.com/loyality/registratsiya-v-programme-privilegiy-Lexus-Toyota/", target="_parent") Регистрация в программе привилегий Lexus & Toyota

    #layout.toyota_page.pure-g-r(data-bind="visible: token().length != 0", style="display: none")
      .pure-u-1#nav
        .nav-header.nav-toyota
          div.header-menu
            .filter-label-wrapper
              a(href="http://toyota59.com", target="_parent") Выход
          .status
            img.card_img(data-bind="attr: { src: 'i/card-' + cardStatus() + '.png' }", src="i/card-individual.png")

            ul.card_author
              li <strong><span class="card-status" data-bind="text: cardStatus">&nbsp;</span></strong>
              li <span data-bind="text: userName"><strong>&nbsp;</strong></span>
              li <span data-bind="text: userPhone">&nbsp;</span>
              li <span data-bind="text: userEmail">&nbsp;</span>

            .status-detail
              ul.card_detail
                li &nbsp;
                li Бонусных рублей в сейфе <strong><span class="pre_link" data-bind="text: cardPoints, click: function() { $root.page('points') }">&nbsp;</span> </strong>
                li Статусных баллов <strong><span class="pre_link" data-bind="text: (statusScore() / 1000000).toFixed(2), click: function() { $root.page('ball') }">&nbsp;</span></strong> млн. руб
                li(data-bind="visible: cardStatus() !== 'individual'")
                  | До следующего статуса <strong><span class="pre_link" data-bind="text: (nextStatusScore() / 1000000).toFixed(2), click: function() { $root.page('ball') }">&nbsp;</span></strong> млн. руб

        .nav-inner
          .pure-menu.pure-menu-open.filter
            include includes/filter_tcom

      .pure-u-1#main

        .content
          include includes/description

          include includes/privilege

          include includes/news

          include includes/rules

          include includes/points

          include includes/ball

          include includes/family

          include includes/faq

          include includes/settings
